.button {
    -fx-background-color: #1565c0;
    -fx-text-fill: rgb(0, 0, 0);
}

.button:hover { 
    -fx-text-fill: #ffffff; 
    -fx-cursor: hand;
}

.button:focused {
    -fx-text-fill: #ffffff;
}

.button:active {
    -fx-text-fill: #ffffff;
}