# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Intellij file
*.idea/
*.iml

# VSCode file
*.vscode/

# MacOS File
.DS_Store

# Secret File
.env